/* write your css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  background-color: white;
  background: linear-gradient(140deg, #ffffff 0%, #ceabe2c7 50%, #cebcd3 100%);

  padding: 40px;
}
.title {
  text-align: center;
}
.contact_heading {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  font-style: normal;
  color: black;
  margin: 15px 0 0 0;
}
.contact_heading_description {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(85, 78, 78);
  margin: 15px 0 0 0;
}
.form_area {
  margin: 50px 0 0 0;
}
form {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 0 0 5px 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0a0a0a;
}

input,
select,
textarea,
button {
  margin: 5px;
  padding: 10px;

  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;

  border: 1px solid rgba(199, 199, 199, 0.84);
  padding: 10px;

  margin-block: 10px;
  box-shadow: 0px 0px 2px 0px black;
}

.name_row {
  display: inline-block;
  width: 100%;
  gap: 20px;
  display: flex;
}

.first_name_column,
.second_name_column {
  display: inline-block;
  width: 295px;
  vertical-align: top;
}

textarea {
  height: 100px;
}
.phone_number_container {
  position: relative;
}
.phone_box {
  margin: 5px;
  padding: 10px;

  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;

  border: 1px solid rgba(199, 199, 199, 0.84);
  padding: 10px;

  margin-block: 10px;
  box-shadow: 0px 0px 2px 0px black;
}
.phone_number_container select,
.phone_number_container input {
  width: auto;
  flex: 1;
  margin: 10px;
  padding: 10px;

  border-radius: 4px 0 0 4px;
  box-shadow: none;
}
.option {
  position: absolute;
  font-size: 16px;

  background-color: #ffffff00;
  color: #7d7480;
  border: none;
}

.phone_number_container input {
  border-radius: 0 4px 4px 0;
}

.toggle {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.toggle input[type="checkbox"] {
  display: none;
}

.toggle .toggle-label {
  margin: 20px 0 0 0;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle .toggle-label::after {
  content: "";
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.toggle input[type="checkbox"]:checked + .toggle-label {
  background-color: #4a00e0;
}

.toggle input[type="checkbox"]:checked + .toggle-label::after {
  transform: translateX(25px);
}

.toggle span {
  margin-left: 10px;
}

.button_letstalk {
  margin: 30px 0 0 0;
  width: 100%;
  background-color: #4a00e0;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}
.button_letstalk:hover {
  cursor: pointer;
  color: #4a00e0;
  background-color: #ffffff;
}
a {
  color: #4a00e0;
  text-decoration: none;
}
.toggle_text {
  display: block;
  margin: 20px 0 5px 10px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0a0a0a;
}
