/* write your css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main container */
.call_to_action {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(29, 37, 51);
}
/* divided space in equal parts */

.call_to_action_image {
  width: 600px;
  height: 100%;
}

/* main text content starts from here */
.call_to_action_content {
  margin: 30px 100px 0 100px;
  width: 600px;
}
.call_to_action_img {
  position: relative;
  width: 600px;
}

.call_to_action_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 450px;
  background: linear-gradient(
    140deg,
    rgba(132, 94, 247, 0.5) 0%,
    rgba(163, 125, 249, 0.5) 50%,
    rgba(103, 65, 217, 0.5) 100%
  );
  z-index: 1;
  pointer-events: none;
}
.content_heading {
  color: #845ef7;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.content_title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin: 10px 0 0 0;
}
.content_description {
  color: rgb(209, 187, 187);
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-style: normal;
  font-size: 18px;
  margin: 25px 0 0 0;
  line-height: 1.8;
}
.button1 {
  padding: 10px 16px;
  margin: 30px 0 0 0;
  font-size: 16px;
  background-color: #53525756;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.button1:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #ffffff56;
}
